:root{
    --negro: #4b4b4d;
    --azul:#12c2e9;
    --violeta: #9671ed;
    --celeste: #8bf5db;
    --gris_fondo: #ececec;
    --gris_claro: #cfcfcf;
    --gris_medio: #cacaca;
    --gris_oscuro: #b1b1b1;


    --fuentetitulos: 2.8rem
}

html{
    font-size: 62,5%;
    box-sizing: border-box;
    /*
    scroll-snap-type: y mandatory;
    */
}
*, *:before, *:after{
    box-sizing:inherit;
}
body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top,
    var(--gris_fondo) 0%, white 100% );
}
/* SCROLL SNAP ***********************/

/*
.servicios,
.navegacion-principal,
.contacto{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
*/

footer{
    text-align: center;
    color: var(--gris_oscuro);
    font-size: 15px;
}

h1{
    font-size: 3rem;
    color: var(--negro);
}
h2{
    font-size: 2.8rem;
    color: var(--negro);
}
h3{
    font-size: 1.8rem;
    color: var(--gris_claro);
}
h1,h2,h3{
    text-align: center;
}

.titulo span{
    font-size: 1rem;
    color:var(--gris_oscuro);
    /* color: red!important; (sobrescribe a todos) */
}  

.sombra{
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.32);
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.32);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.nav-fondo{
    background: linear-gradient(to right,
    var(--violeta) 0%, var(--azul) 50%, var(--celeste) 100%);
    /*
    (to bottom right, to top left, etc..)
    */
}

.contenedor{
    max-width: 100rem;
    margin: 0px auto;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;

    /*
    align-items: center;
    */
}

@media (min-width: 480px) {
    .navegacion-principal{
    flex-direction: row;
    justify-content: space-evenly;
    }  
}

.navegacion-principal a{
    display:block;
    /*
    text-align: center;
    */
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: black;
}

.hero{
    background-image: url(../img/hero.jpg);
    /*
    filter: grayscale(100%);
    filter: blur(2px);
    */
    background-repeat: no-repeat;
    background-size: cover;
    height: 22.5rem;
    position:relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position:absolute;
    background-color: #1e1e1fc9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero p,
.contenido-hero h2{
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.button{
    background: linear-gradient(to bottom right,
    var(--violeta) 0%, var(--azul) 55%, var(--celeste) 100%);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 90%;
    border: none;
    /*
    box-shadow: 5px 5px 50px rgb(0, 0, 0);
    text-transform:uppercase;
    */
}
.button:hover{
    cursor: pointer;
}

@media (min-width: 480px) {
   .button{
        width: 15rem;
    }
}

/** UTILIDADES **/
.alinear-derecha{
    justify-content: center;
}

.flex{
    display:flex;
}

@media (min-width: 600px) {
    .alinear-derecha{
        justify-content: flex-end;
    }   
}

 .contenido-hero a:hover{
    background: linear-gradient(to top right,
    var(--violeta) 0%, var(--azul) 55%, var(--celeste) 100%);
}

/*      --------------- ALINEAMIENTO DE SERVICIOS (FLEX-BOX) ------------------
.servicios{
    text-align: center;
}
.servicios p{
    font-size: 20px;
}

.a, .b, .c{
    padding: 0.5rem; 
    margin:1.5rem; 
    text-align: center;
}
@media (min-width: 900px) {
   .servicios{
    display: flex;
   }
}
*/

/*      --------------- ALINEAMIENTO DE SERVICIOS (GRIDD-CSS) ------------------ */
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 33.3%); 
        column-gap: 1rem;
    /*
        repeat(3 (vecces), valor);
        grid: 200px 800px / 300px 300px;    ------ ABREVIACIÓN ---------- 
        grid-template-columns: 1fr 1fr 1fr; (fr= fracción)
    */
}
}

.servicios{
    margin: 1rem;
    text-align: center;
    justify-content: center;
}
.servicio p{
    color: var(--gris_oscuro);
    text-align: justify;
    font-size: 1rem;
}
.servicio{
    margin-top: 1rem;
}

/*      -------------------------------- FORMULARIO --------------------------------- */

.formulario{
    background-color: white;
    width: min( 50rem, 100%); 
    /*
    lo que hace esta funcion es comparar el primer valor con el segundo, siempre eligiendo
    el mas pequeño. ¿que es mas pequeño? 50 rem o 100%, 100% representando x px.
    También nos podemos ahorrar algún media queries. 
    */
    margin: 0 auto;
    padding: 2rem;

}

.formulario fieldset{
    border: none;
}
.formulario legend{
    margin: 0 auto;
    color: var(--violeta);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .contenedor-campos{
        display:grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 1rem;
        grid-template-rows: auto auto 13rem ;
    }    
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1/3;
    }
}

.campo{
    margin-bottom: 1rem;
    color: var(--gris_oscuro);
}

.campo label{  
    margin-bottom: .5rem;
    display:block;
}

.texto-input{
    width: 100%;
    border: none;
    background-color: var(--gris_fondo);
    border-radius: 5px;
    height: 1.8rem;
    color: var(--gris_oscuro);
    padding-left: 0.5rem;
}

.texto-contacto{
    height: 10rem;
}

.enviar .button{
    display: flex;
    width: auto;
}



















